@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.form-login input {
    border-bottom: 2px solid #000842;
}

.form-login input::placeholder {
    color: #000842;
}

/* avatar style */
.avatar .img-avatar {
    margin-top: -50px;
}